/*My stuff */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-block {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-image: url("./assets/header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.header-header {
  color: white;
  font-family: Impact;
  font-size: 6em;
  margin: 0;
}
.header-content {
  flex-direction: column;
}
.byline {
  font-size: 30px;
  width: 100%;
  text-align: left;
  color: white;
  font-family: impact;
}

/* Main */
.main {
  position: relative;
  z-index: 2;
  background-color: purple;
  /* min-height: 1000px; */
  margin-top: 100vh;
}
