/*My stuff */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-block {
  height: 100vh;
  width: 100vw;
  background-image: url("./assets/header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.header-header {
  color: white;
  font-family: Oswald;
  font-size: 6em;
  margin: 0;
}
.header-content {
  flex-direction: column;
}
.byline {
  font-size: 30px;
  width: 100%;
  text-align: left;
  color: white;
  font-family: Oswald;
}

/* Main */
.main {
  height: 500px;
}
.subheading {
  font-family: Oswald;
}
